<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf">
<!--<head th:replace="~{fragments/user/head::head}">-->
    <meta name="app:ctx" th:content="@{/}" />
    <meta charset="UTF-8">
    <title>Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<header class = "row">
    <div class = "col">
        <div th:replace="~{fragments/navbar::navbar}"></div>
        <div th:replace="~{fragments/user/shopCart::shop-cart}"></div>
        <div th:replace="~{fragments/layout::modals}"></div>
    </div>
</header>
<body>
<div th:replace="~{fragments/toast::toast-container}"></div>
<div th:replace="~{fragments/user/modal::vocher-modal}"></div>
<main layout:fragment="content"></main>
</body>
<footer th:replace="~{fragments/layout :: footer}" class="footer"></footer>

<script th:src="@{/js/vendors/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

<script th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
<script th:src="@{/js/vendors/slick-slider.js}"></script>
<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
<script th:src="@{/js/vendors/tns-slider.js}"></script>
<script th:src="@{/js/vendors/zoom.js}"></script>
<script th:src="@{/js/vendors/validation.js}"></script>
<script th:src="@{/js/theme.min.js}"></script>
<script type="module" th:src="@{/js/auth.js}"></script>
<script defer th:src="@{/js/auth-handler.js}"></script>
<script type="module">
    import cartBadgeUtils from /*[[@{/js/utils/cartBadgeUtils.js}]]*/ '/UTE_SHOP/js/utils/cartBadgeUtils.js';
    import {showInfoToast} from "/UTE_SHOP/js/utils/toastUtils.js";

    document.addEventListener("DOMContentLoaded", function () {
        const user_id = localStorage.getItem('userId');
        if (user_id) {
            cartBadgeUtils.initCartBadge(user_id);
        }
        connect(user_id);
    });

    let stompClient = null;
    function connect(user_id) {
        let token = localStorage.getItem("authToken");
        if (!token) {
            return;
        }
        const socket = new SockJS("http://localhost:8082/UTE_SHOP/ws?token=" + token);
        stompClient = Stomp.over(socket);
        stompClient.connect(
            {},
            function(frame) {
                stompClient.subscribe('/user/queue/orders', function(message) {
                    try {
                        const body = JSON.parse(message.body);
                        console.log('Received message:', body);
                        if (body.orderId !== null && Number(body.userId) === Number(user_id)) {
                            showInfoToast("You have received an update for your order: #" + body.orderId + " - Status: " + body.status);
                        }
                        else if (Number(body.userId) === Number(user_id)) {
                            showInfoToast("You have a new message: " + body.status);
                        }
                    } catch (e) {
                        console.log('Parse error:', e);
                        alert('📦 Message received (raw):\n' + message.body);
                    }
                });
                if (Notification.permission === "default") {
                    Notification.requestPermission();
                }
            },
            function(error) {
                log('STOMP error: ' + JSON.stringify(error), 'err');
                document.getElementById('connectBtn').disabled = false;
                document.getElementById('disconnectBtn').disabled = true;
            });
    }
</script>
</html>