<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shop/common/main}">
<body>
<main layout:fragment="content">
    <section class="container">
        <!-- row -->
        <div class="row mb-8">
            <div class="col-md-12">
                <!-- card -->
                <div
                        class="card bg-light border-0 rounded-4"
                        style="background-image: url(/assets/images/slider/slider-image-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: right">
                    <div class="card-body p-lg-12">
                        <h1>Welcome back! FreshCart</h1>
                        <p>FreshCart is simple & clean design for developer and designer.</p>
                        <a th:href="@{/shop/product/add-product}" class="btn btn-primary">Create Product</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- table -->
        <div class="table-responsive-xl mb-6 mb-lg-0">
            <div class="row flex-nowrap pb-3 pb-lg-0">
                <div class="col-lg-4 col-12 mb-6">
                    <!-- card -->
                    <div class="card h-100 card-lg">
                        <!-- card body -->
                        <div class="card-body p-6">
                            <!-- heading -->
                            <div class="d-flex justify-content-between align-items-center mb-6">
                                <div>
                                    <h4 class="mb-0 fs-5">Earnings</h4>
                                </div>
                                <div class="icon-shape icon-md bg-light-danger text-dark-danger rounded-circle">
                                    <i class="bi bi-currency-dollar fs-5"></i>
                                </div>
                            </div>
                            <!-- project number -->
                            <div class="lh-1">
                                <h1 class="mb-2 fw-bold fs-2">$93,438.78</h1>
                                <span>Monthly revenue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mb-6">
                    <!-- card -->
                    <div class="card h-100 card-lg">
                        <!-- card body -->
                        <div class="card-body p-6">
                            <!-- heading -->
                            <div class="d-flex justify-content-between align-items-center mb-6">
                                <div>
                                    <h4 class="mb-0 fs-5">Orders</h4>
                                </div>
                                <div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
                                    <i class="bi bi-cart fs-5"></i>
                                </div>
                            </div>
                            <!-- project number -->
                            <div class="lh-1">
                                <h1 class="mb-2 fw-bold fs-2">42,339</h1>
                                <span>
                               <span class="text-dark me-1">35+</span>
                               New Sales
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mb-6">
                    <!-- card -->
                    <div class="card h-100 card-lg">
                        <!-- card body -->
                        <div class="card-body p-6">
                            <!-- heading -->
                            <div class="d-flex justify-content-between align-items-center mb-6">
                                <div>
                                    <h4 class="mb-0 fs-5">Customer</h4>
                                </div>
                                <div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
                                    <i class="bi bi-people fs-5"></i>
                                </div>
                            </div>
                            <!-- project number -->
                            <div class="lh-1">
                                <h1 class="mb-2 fw-bold fs-2">39,354</h1>
                                <span>
                               <span class="text-dark me-1">30+</span>
                               new in 2 days
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- row -->
        <div class="row">
            <div class="col-xl-8 col-lg-6 col-md-12 col-12 mb-6">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <div class="card-body p-6">
                        <!-- heading -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="mb-1 fs-5">Revenue</h3>
                                <small>(+63%) than last year)</small>
                            </div>
                            <div>
                                <!-- select option -->
                                <select class="form-select">
                                    <option selected>2019</option>
                                    <option value="2023">2020</option>
                                    <option value="2024">2021</option>
                                    <option value="2025">2022</option>
                                    <option value="2025">2023</option>
                                </select>
                            </div>
                        </div>
                        <!-- chart -->
                        <div id="revenueChart" class="mt-6"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-12 mb-6">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <!-- card body -->
                    <div class="card-body p-6">
                        <!-- heading -->
                        <h3 class="mb-0 fs-5">Total Sales</h3>
                        <div id="totalSale" class="mt-6 d-flex justify-content-center"></div>
                        <div class="mt-4">
                            <!-- list -->
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8"/>
                                    </svg>
                                    <span class="ms-1">
                                  <span class="text-dark">Shippings $32.98</span>
                                  (2%)
                               </span>
                                </li>
                                <li class="mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8"/>
                                    </svg>
                                    <span class="ms-1">
                                  <span class="text-dark">Refunds $11</span>
                                  (11%)
                               </span>
                                </li>
                                <li class="mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8"/>
                                    </svg>
                                    <span class="ms-1">
                                  <span class="text-dark">Order $14.87</span>
                                  (1%)
                               </span>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                                         class="bi bi-circle-fill text-info" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8"/>
                                    </svg>
                                    <span class="ms-1">
                                  <span class="text-dark">Income 3,271</span>
                                  (86%)
                               </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <!-- card body -->
                    <div class="card-body p-6">
                        <h3 class="mb-0 fs-5">Sales Overview</h3>
                        <div class="mt-6">
                            <!-- text -->
                            <div class="mb-5">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fs-6">Total Profit</h5>
                                    <span>
                                  <span class="me-1 text-dark">$1,619</span>
                                  (8.6%)
                               </span>
                                </div>
                                <!-- main wrapper -->
                                <div>
                                    <!-- progressbar -->
                                    <div class="progress bg-light-primary" style="height: 6px">
                                        <div
                                                class="progress-bar bg-primary"
                                                role="progressbar"
                                                aria-label="Example 1px high"
                                                style="width: 25%"
                                                aria-valuenow="25"
                                                aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <!-- text -->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fs-6">Total Income</h5>
                                    <span>
                                  <span class="me-1 text-dark">$3,571</span>
                                  (86.4%)
                               </span>
                                </div>
                                <div>
                                    <!-- progressbar -->
                                    <div class="progress bg-info-soft" style="height: 6px">
                                        <div
                                                class="progress-bar bg-info"
                                                role="progressbar"
                                                aria-label="Example 1px high"
                                                style="width: 88%"
                                                aria-valuenow="88"
                                                aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- text -->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fs-6">Total Expenses</h5>
                                    <span>
                                  <span class="me-1 text-dark">$3,430</span>
                                  (74.5%)
                               </span>
                                </div>
                                <div>
                                    <!-- progressbar -->
                                    <div class="progress bg-light-danger" style="height: 6px">
                                        <div
                                                class="progress-bar bg-danger"
                                                role="progressbar"
                                                aria-label="Example 1px high"
                                                style="width: 45%"
                                                aria-valuenow="45"
                                                aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
    <script th:src="@{/assets/js/vendors/chart.js}"></script>
</main>
</body>

<!-- Mirrored from freshcart.codescandy.com/dashboard/main.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Nov 2024 06:08:53 GMT -->
</html>
